.create-character-form {

}
.create-character-form {
  &.ng-submitted {
    .form-group {
      .form-control.ng-invalid {
        border: 2px solid red;
      }
    }
  }
  .form-group {
    .form-control.ng-touched.ng-invalid {
      border: 2px solid red;
    }
    .error {
      color: red;
    }
  }
}
