<form class="form-horizontal" novalidate>

  <!-- Character Name -->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-character-name">Character Name</label>
    <div class="col-sm-9">
      <input class="form-control" id="input-character-name" type="text" placeholder="Enter your character's name..."
        ng-model="CreateCharacterCtrl.characterName">
    </div>
  </div>

  <!-- Race Selection -->
  <div class="form-group">
    <label for="input-race" class="col-sm-3 control-label">Race</label>
    <div class="col-sm-9">
      <select class="form-control"
        ng-model="CreateCharacterCtrl.selectedRace"
        ng-options="race.race for race in CreateCharacterCtrl.races track by race._id">
         <option value="">-- Select a Race --</option>
      </select>
    </div>
  </div>

  <!-- Class Selection -->
  <div class="form-group">
    <label for="input-class" class="col-sm-3 control-label">Class</label>
    <div class="col-sm-9">
      <select class="form-control"
        ng-model="CreateCharacterCtrl.selectedCharacterClass"
        ng-options="class.characterClass for class in CreateCharacterCtrl.characterClasses track by class._id">
         <option value="">-- Select a Class --</option>
      </select>
    </div>
  </div>

  <!-- Submission -->
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default pull-right">Submit</button>
    </div>
  </div>
</form>
